
<h3>Special JL Transaction</h3>

<div class="row">
  <div>
    <%= link_to"Edit Transaction", edit_jltransaction_path, class: "btn btn-primary" %>
    <%= link_to "Delete Transaction", jewelloans_path, class: "btn btn-danger",
      method: :delete, confirm: "You want to delete the current transaction?" %>    
  </div>
</div>
</br>
  
<table cellpadding = "5" cellspacing ="5">
  <tr>        
    <th>Transaction Date</th>
    <th>Transaction Mode</th>
    <th>Transaction Type</th>        
    <th>Transaction Amount</th>    
  </tr>
      <tr>      
      <td><%= @jltransaction.transaction_date.strftime("%d/%m/%Y") %></td>
      <td><%= @jltransaction.transaction_mode %></td>      
      <td><%= @jltransaction.transaction_type %></td>
      <td><%= @jltransaction.transaction_amount %></td> 
  </tr>  
</table>
<br/>

<div>
  <table>
      <tbody>
       <tr>
         <td>Particulars</td>
         <td><%= @jltransaction.particulars %></td>
       </tr>
       <tr>
         <td>Comments</td>
         <td><%= @jltransaction.comments %></td> 
       </tr>
    </tbody>
  </table>  
</div>

